*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.chat {
  scroll-behavior: smooth;
}

.inp {
  display: flex;
}

.inp input {
  padding: 10px;
  flex: 1;
}

.inp button {
  padding: 0 20px;
}
.body {
  display: flex;
  flex-direction: column;
  height: var(--ht);
}

.chat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.me ,.sender{
  margin: 6px 20px;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.me {
  align-self: flex-end;
  background-color: #B9F3E4;
}
.sender {
  background-color: #E96479;
  color: white;
}

.inp:not(.nott) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.getid {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.getid input {
  padding: 20px;
  border: 1px solid black;
}

.getid button {
  background-color: orange;
  color: white;
  outline: none;
  border: none;
  padding: 10px 20px;
}

.flexxx {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.chat {
  background-color: #4D455D;
  flex-grow: 1;
}

.flexxx input {
  padding: 15px;
  border: none;
  outline: none;
}
